# Общие настройки сайта
NEXT_PUBLIC_SERVER_NAME="NATUX WORLD"
NEXT_PUBLIC_SITE_DOMAIN="vibestudy.ru"
NEXT_PUBLIC_SERVER_IP="mc.vibestudy.ru"
NEXT_PUBLIC_SERVER_VERSION="1.20.1 - 1.21.x"
NEXT_PUBLIC_LOGO_URL="/logo.svg"

# Соцсети
NEXT_PUBLIC_VK_URL="https://vk.com/natuxworld"
NEXT_PUBLIC_DISCORD_URL="#"
NEXT_PUBLIC_TELEGRAM_URL="#"
NEXT_PUBLIC_YOUTUBE_URL="#"

# Платёжная система (mock | yoomoney)
PAYMENT_PROVIDER="mock"
PAYMENT_WEBHOOK_SECRET="change_me"

# YooMoney (если PAYMENT_PROVIDER=yoomoney)
YOOMONEY_WALLET="410011234567890"
YOOMONEY_SECRET="change_me_yoomoney_secret"

# Будущие настройки RCON
RCON_HOST="127.0.0.1"
RCON_PORT="25575"
RCON_PASSWORD="change_me"

# База данных (локально без Docker)
DATABASE_URL="postgresql://natux:change_me@localhost:5432/natux"

# Пароль PostgreSQL (только для docker-compose)
POSTGRES_PASSWORD="change_me"

# Админ-панель (обязательно поменяй перед деплоем)
ADMIN_PASSWORD="change_me_password"
ADMIN_SECRET="change_me_long_random_secret_min_32_chars"
