node_modules
.next
out
build
dist
.env
.env.local
.env.*.local
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

/src/generated/prisma
tsconfig.tsbuildinfo
*.local.json
account.json
ecosystem.config.js
nginx-vibestudy-patch.conf
/backups/
